body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0d001a;
}
.button{
	position: absolute;
	width: 100px;
	height: 100px;
	margin: auto;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	border-radius: 50%;
	background: #0d001a;
	filter: blur(1px);
	transition: transform 0.5s;
}
.button:hover{
	transform: scale(5);
	filter: blur(1px);
	cursor: pointer;
}
.circle{
	position: absolute;
	width: 500px;
	height: 500px;
	margin: auto;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	border-radius: 50%;
	background: transparent;
	animation: animate 10s linear infinite;
}
@keyframes animate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.circle span{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#66ff66, #ffff00, #ff66cc);
	transition: transform 0.5s;
}
.circle span:nth-child(1){
	filter: blur(100px);
}
.circle span:nth-child(2){
	filter: blur(100px);
}
.circle span:nth-child(3){
	filter: blur(100px);
}
.circle span:nth-child(4){
	filter: blur(100px);
	background: red;
	opacity: 80;
}